* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #0be881; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/estrellas9.jpg");
}